body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.register-container {
  background-color:  rgb(54, 52, 80);
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.form {
  background-color: #ffffff;
  padding: 30px ;
  border-radius: 10px; /*borde de la caja, mientras mas grande sea el numero mas redondo es la caja*/
  box-shadow: 0 8px 20px rgba(125, 207, 228, 0.2);/*sombreado de la caja*/
}

.register-h2 {
  text-align: center;
  color:  rgb(54, 52, 80);
  margin-bottom: 20px;
  font-size: 24px;
}

.input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #f1f1f1;
  font-size: 16px;
}

input:focus {
  border-color:  rgb(54, 52, 80);
  outline: none;
}


.button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color:  rgb(54, 52, 80);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #1d1d1d; /*es el color que se pone cuando apoyo el cursor (para todos los botones)*/
}

.message {
    margin-top: 20px;
    font-weight: bold;
    color: #444;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}
.regis-p {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
}
.regis-p a {
  color:  rgb(73, 69, 161);
  text-decoration: none;
}