body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  width:100%;
  max-width: none;
}

.contenedor-principal {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  width: 80%;
  margin: 0;
  padding: 50px;
  margin-top: 80px;
}
