body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.contenedor-principal {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  padding: 50px;
}

.img-principal {
  width: 100%;
  height: 690px;
  background-image: url('/imagen.png');
  background-size: cover;
  object-fit: cover;
  background-position: top;
  background-repeat: no-repeat;
} 