.container {
    padding: 20px;
    display: flex
}

.container-2 {
    flex: 1;
}

.img {
    width: 30%;
    max-width: 50px;
    margin-bottom: 10px;
}

.detalles {
    flex: 1;
    padding: 20px;
}

.carrito-boton {
    background: #4f3972ff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}