.container {
    padding: 20px;
    display: flex
}

.container-2 {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.img {
    width: 550px;
    height: auto;
    border-radius: none;
    cursor: pointer;
}

.detalles {
    flex: 1 1 400px;
    background: #fff;
    border-radius: none;
    padding: 40px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.carrito-boton {
    background: #4f3972ff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
 .comentario-boton {
    background: #4f3972ff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}