.apartado {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #515557;   
  padding: 40px;
  gap: 40px;                   
}

.parte-img {
  width: 300px;
  max-width: 100%;
  object-fit: cover;
}

.parte-info {
  color: white;
  text-align: center;
  width: 100%;
}

.parte-info h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.parte-button {
  background-color: white;
  color: #0d3142;
  padding: 12px 40px;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  letter-spacing: 1px;
  transition: background 0.3s ease;
}

.apartado__info button:hover {
  background-color: hsl(0, 71%, 58%);
}

/*.parte-img,
.parte-info {
  flex: 1;
}*/
