.desc-h2 {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  padding-left: 40px; 
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: bold;
  color: #222222;
}

/*
.grilla {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: auto;
    gap: 30; /*espacio entre elementos*/

