/*fondo*/
body {
  margin: 0;
  font-family: Arial;
  background: #f3f3f3;
  display: center
}

/*tamaño de la caja*/
.login-container {
  width: 100%;
  max-width: 350px;
}

/*dentro de la caja*/
.form {
  background: white;
  padding: 50px ;
  border-radius: 10px; /*borde de la caja, mientras mas grande sea el numero mas redondo es la caja*/
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);/*sombreado de la caja*/
  
}

/*cajita de iniciar sesion*/
.h2 {
  text-align: center;
  font-size: 25px ;
  margin-bottom: 25px;
  color: #2b2a2a;
}

/*imput(usuario y contraseña)*/
.input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #f1f1f1;
  font-size: 16px; 
  display: center;
  color: rgb(73, 67, 67)
}

input:focus {
  border-color: #007bff;
  outline:none;
}

/*cajita del boton "entrar"*/
.button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #1c68b9;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  border: none;
}

.button:hover {
 background-color: #035ab8; /*cambia el color de la caja a mas oscuro cuando lo presionamos*/
}

.message {
  margin-top: 20px;
  font-weight: bold;
  color: #444;
}

.log-p {
  margin-top: 20px;
}


