.producto-dep {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%;
  overflow: hidden;
  margin-bottom: 20px; /* Asegura separación entre productos */
}

.producto-dep img {
  width: 100%;
  height: 350px;
  object-fit: cover; /* Asegura que la imagen cubra todo el espacio */
  object-position: center;
}

.descripcion {
  text-align: center;
  margin-top: 10px;
}

.descripcion h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

